body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 16px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
html{
    scroll-behavior: smooth;
}
header {
    padding: 16px;
    margin: -16px;
    position: sticky;
    top: 0;
    border: 1px solid white;
    background: white;
    border-bottom: 2px solid;
}
header nav > a{
    margin: 16px;
    text-decoration: None;
    padding: 8px;
}
.intro{
    padding: 25px;
    margin: -16px;
    background-color: rgb(35, 30, 30);
    color: white;
    text-align: center;
}
#profile-pic {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.social-links img{
    height: 30px;
    width: 30px;
    margin : auto 16px;
    text-decoration: None;

}
section >h1{
    text-align: center;
}
table{
    margin-top: 10px;
    width: 25%;
    
}
table,
tr,
td,
th{
    border: 1px solid;
    border-collapse: collapse;
    
}
th,
td{
    padding: 5px
}
#dynamic-text{
    color: royalblue;

}
#contact label {
    /* border: 1px solid; */
    display: block;
    font-weight: 500;
    /* border-radius: 5px; */
}
footer{
    padding: 7px;
    margin: -16px;
    margin-top: 7px;
    border-top: 2px solid;
    text-align: center;
}