
body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 16px;
    font-size: 1.2rem;
    line-height: 1.6rem;

}
html{
    scroll-behavior: smooth;
}
header {
    padding: 16px;
    margin: -16px;
    position: sticky;
    top: 0;
    border: 1px solid white;
    background: white;
    border-bottom: 2px solid;
    z-index: 1;
}
nav > a{
    text-decoration: None;
}
.menu a{
    text-decoration: None;
    color: rgb(92, 0, 128);
}
header nav > a{
    margin-right: 16px;
    text-decoration: None;
    /* padding: 8px; */
    color: rgb(92, 0, 128);
}
header nav > a:last-child{
    margin-right: revert;

}
.intro{
    padding: 25px;
    margin: -16px;
    background-color: rgb(35, 30, 30);
    color: white;
    text-align: center;
}
#profile-pic {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    filter: drop-shadow(4px -6px 10px rgb(56, 55, 55));

}
.social-links img{
    height: 30px;
    width: 30px;
    margin : auto 16px;
    text-decoration: None;

}
section >h1{
    text-align: center;
}
table{
    margin-top: 10px;
    width: 25%;
    
}
table,
tr,
td,
th{
    border: 1px solid;
    border-collapse: collapse;
    
}
th,
td{
    padding: 5px
}
#dynamic-text{
    color: royalblue;

}
#contact label {
    /* border: 1px solid; */
    display: block;
    font-weight: 500;
    /* border-radius: 5px; */
}
footer{
    padding: 7px;
    margin: -16px;
    margin-top: 7px;
    border-top: 2px solid;
    text-align: center;
}
.mobile-nav,
section.menu {
    display: none;
}
section.menu ul{
    list-style: none;
}
section.menu ul> li{
    margin-bottom: 16px;
    font-size: 1.5rem;
}
section.menu nav{
    margin-top: 48px;
    
}
@media (width < 500px) {
    #profile-pic{
        width: 100%;
    }
    header{
        padding: 9px;
    }
    .default-nav{
        display: none;
    }
    .mobile-nav{
        display: revert;
    }
    section.menu{
        display: revert;
        overflow: hidden;
        height : 0;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        background-color: white; 
        width: 100%;
        transition: height 0.8s ease-in-out
       
    }
    #menu-button{
        display: block;
        border-radius: 5px;
        margin-left: auto;
        width: 20%;
    }
}
button{
    background: transparent;
}
#close-menu{
    position: absolute;
    right:16px;
    top:16px;
    background: transparent;
    border:none;
    font-size: x-large;
    /* animation: rotation 0.8s alternate; */
}
@keyframes rotation{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

