.container{
    display: grid;
    grid-template-columns: 200px repeat(2,1fr);
    grid-template-rows: 300px 40%;
    /* grid-auto-flow: column ; */
    gap:16px;
    
}
.item{
    background-color: lightblue;
}
